// COLORS


// Form
$color-mac-blue: rgba(81, 203, 238, 1);

$color-white: #fff;
$color-light-white: #e8edee;

$color-grey-medium: #AAAAAA;

$color-dark-black: #333;
$color-black: #000;


//error
$color-error: #b64343;

// Mobile nav

$color-nav-background: #071f27;
$color-nav-hover: #0d272f;
$color-nav-text: #e7ffe3;
