.mainnav {
  & ul {
    list-style-type: none;
    margin: 0;
    padding: 0 16;
    overflow: hidden;
    background-color: $color-dark-black;
  }
  
  & li {
    float: right;
  }
  
  & li a, h2 {
    display: block;
    color: $color-white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  & h2 {
    float: left;
    margin: 0px;
  }

  & li a:hover {
    background-color: $color-black;
  }
}