include ../mixins/mixins.pug

html
  head
    if title 
      title #{title}
    else 
      title Anagram Web App
      
    link(rel='stylesheet' href='/assets/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    block scripts
      
  body
    block content
